**/.vs/
/ArborGVT/bin/
/ArborGVT/obj/
/ArborSample/bin/
/ArborSample/obj/
/SmartGraph/bin/
/SmartGraph/obj/

/java/JArborGVT/nbproject/private/
/java/JArborGVT/build/
/java/JArborGVT/dist/
/java/JArborSample/nbproject/private/
/java/JArborSample/build/
/java/JArborSample/dist/
/java/JSmartGraph/nbproject/private/
/java/JSmartGraph/build/
/java/JSmartGraph/dist/

/gource-arbor.cmd

**/*.*db
/cpp/solution/arborgvt/arborgvt.vcxproj.user
/cpp/build/
