/.gitignore
/ArborGVT/bin/
/ArborGVT/obj/
/ArborSample/bin/
/ArborSample/obj/
/SmartGraph/bin/
/SmartGraph/obj/

/java/JArborGVT/nbproject/private/
/java/JArborGVT/build/
/java/JArborGVT/dist/
/java/JArborSample/nbproject/private/
/java/JArborSample/build/
/java/JArborSample/dist/

/gource-arbor.cmd

/cpp/solution/.vs/
/cpp/solution/arbor.desktop.2015.VC.VC.opendb
/cpp/solution/arbor.desktop.2015.VC.db
/cpp/solution/arborgvt/arborgvt.vcxproj.user
/cpp/build/
